/* body{
    background-color: black;
} */
.container{
    background-color: pink;
    background-size: cover;
    /* margin-left: 0;
    margin-right: 0; */
}
#getintouch{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
}


#line1{
    font-size: 40px;
    font-weight: 700;
}

#line2{
    font-size: 20px;
    margin: 10px;
}

#line3{
    font-size: 20px;
    margin: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ''; */  
}

.contactform
{
    margin-left: 50px;

}

.abcd
{
    margin: 10px;
    padding: 5px;
}

input[type=submit] {
    background-color: rgb(14, 148, 158);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text],input[type=number],input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
}
  

.div2
{
   margin-left: 400px;
   margin-top: 20px;
   /* width: 30%; */ 
}

.icon{
    min-width: 60px;
    height: 60px;
    background:  rgb(243, 243, 243);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 70%; */
    font-size: 32px;
    clip-path: circle();
}

.textt{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
      
}

.boxx
{
    display: flex;
    /* margin: 10px; */
    /* margin-top: 15px; */
    margin-bottom: 30px;
    /* background: #000; */

}
 /* .contactt
{   
    height: auto;
    padding-left: 200px;
    padding-top: 20px;
    background-color: rgb(226, 55, 55);
}  */

.h33
{
    color: rgb(20, 225, 240);
    margin-bottom: 5px;
}

.lab{
    /* color: rgb(20, 225, 240); */
    font-size: 17px;
}

input[type="submit"]{
    padding-bottom: 10px;
}
.center{
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
    padding: 5px;
    /* margin-top: 10px; */
    width: 100%;
    /* sdfkj */
  }
  .contact{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0px;
  }
  .center{
    /* margin: 20px; */
    /* border-top: 2px solid white; */

    height: 150px;
  }
  .center div{
      margin: 20px;
      font-size: larger;
  }
  .contact li a{
    color: white;
    font-size: larger;
    padding: 0px;
    margin-bottom: 50px;
  }
  .center #space li{
      /* margin-top: 5px; */
    border-top: 2px solid white;
  }
  .contact li img{
      width: 50%;
      height: 20%;
      /* size: 10%; */
      /* display: inline-block; */
      padding: 0px;
      /* padding-bottom: 10px; */
      margin-top: 10px;
  }
  #linkedin, #github, #facebook{
    width: 37%;
    padding-bottom: 1px;
  }
  #linkedin{
      width: 25%;
      padding-bottom: 7px;
      margin-top: 18px;
  }
  #lin{
      padding-top: 1px;
  }
  .contact li{
      width: 8%;
  }

