.center{
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
    padding: 5px;
    width: 100%;
  }
  .contact{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0px;
  }
  .center{
    height: 150px;
  }
  .center div{
      margin: 20px;
      font-size: larger;
  }
  .contact li a{
    color: white;
    font-size: larger;
    padding: 0px;
    margin-bottom: 50px;
  }
  .center #space li{
    border-top: 2px solid white;
  }
  .contact li img{
      width: 50%;
      height: 20%;
      padding: 0px;
      margin-top: 10px;
  }
  #linkedin, #github, #facebook{
    width: 37%;
    padding-bottom: 1px;
  }
  .contact li{
      width: 8%;
  }
  #linkedin{
    width: 25%;
    padding-bottom: 7px;
    margin-top: 20px;
}
html{
  scroll-behavior: smooth;
}