*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 12px;
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: 'Cairo', sans-serif; */
	/* font-family: 'Assistant', sans-serif; */
	font-family: 'Reggae One', cursive;
}
body{
	/* background: url(//pub-static.haozhaopian.net/static/web/site/aboutus/images/header47c3419….jpg) no-repeat center;     */
	background: black;
}
a{
	text-decoration: none;
	color: rgb(56, 5, 29);
}

header{
	width: 100%;
    height: 15vh;
	display: flex;
	background-size: cover;
	position: relative;
	justify-content: center;
	align-items: center;
    overflow: hidden;
	/* background: transparent; */
}

#pic{
	padding-left: 10px;
}
.container{
	max-width: 175rem;
	width: 100%;
	margin: 0 auto;
	padding-right: 20px;
	background-color: pink;
}

nav{
	/* padding-top: 5rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.8rem;
}

.brand{
	font-size: 3.2rem;
	position: relative;
	z-index: 1000;
	font-weight: 300px;
	transform: translateX(-100rem);
    animation: slideIn .750s forwards;
	color: rgb(146, 13, 69);
    margin-right: 515px;
	/* left: -100px;	 */
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
	margin-right: 20px;
}

nav img{
	transform: translateX(-100rem);
	animation: slideIn .75s forwards;
	width: 92px;
}
nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}


/* nav ul li:nth-child(1){
	animation-delay: 0s;
} */

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav img:nth-child(1){
	animation-delay: .1s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 3px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	/* border: 5px solid black; */
	background-color: rgb(77, 14, 14);
	left: 0;
	transform: scaleX(0);
	transition: all .4s;
}

nav ul li a::before{
	top: 0;
	transform-origin: right;
}

nav ul li a::after{
	bottom: 0;
	transform-origin:left;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}


.center{
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
    padding: 5px;
    /* margin-top: 10px; */
    width: 100%;
    /* sdfkj */
  }
  canvas {
    border: 10px solid rgb(20, 225, 240);
    width: 1100px;
    background-color: white;
    height: 600px;
    /* display: inline-block; */
    object-fit: contain;
    border-radius: 10px;
    margin-left: 130px;
	position: relative;
	z-index: 2;
    /* margin-right: 30px; */
    /* margin-top: 8px; */
}

.bigcont{
    display: flex;
    color: rgb(255, 255, 255);
	margin-bottom: -35px;
}

/* input {
    margin-left: 30px;
} */
/* body{
    display: flex;
    background-color: black;
} */
.btn{
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    /* margin-bottom: 180px; */
    padding-right: 10px;
    /* margin-right: 20px; */
    float: left;
}
button{
	border-radius: 5px;
}
button:hover{
	 background-color:  rgb(20, 225, 240);
}
button:active{
	background-color: white;
}
input[type=range]{
    margin: 20px;
    width: 131%;
}
.slideContainer{
    width: 75%;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 5px;
}
.slideContainer p{
    margin-top: 10px;
    margin-left: 40%;
    text-align: center;
    margin-bottom: 10px;
    opacity: 1;
    font-size: 18px;
}
.slider::after{
    content: '100';
    color: rgb(5, 0, 0);
    font-size: 1.2rem;
    position:absolute;
    left: 20%;
    top: 19%; 
}
#myRange2::after, #myRange2::before{
    top: 35%;
}
#myRange3::after, #myRange3::before{
    top: 51%;
}
#myRange4::after, #myRange4::before{
    top: 67%;
}
#myRange5::after, #myRange5::before{
    top: 83%;
}
#myRange6::after, #myRange6::before{
    top: 99%;
}
#myRange7::after, #myRange7::before{
    top: 115%;
}
#myRange8::after, #myRange8::before{
    top: 131%;
}
.slider::before{
    content: '0';
    color: rgb(5, 0, 0);
    font-size: 1.2rem;
    position: absolute;
    left: 4%;
    top: 19%;
}
.slider{
    -webkit-appearance: none;
    width: 134%;
    height: 14px;
    /* background: linear-gradient(90deg, rgb(28, 184, 231) 60%, rgb(214,214,214) 60%); */
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transform: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 12px 4px rgb(0, 0, 22);
    margin-top: 29px;
    margin-bottom: 0px;
    margin-left: 25px;
}
.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
.reset_clear{
    display: flex;
    padding-left:500px;
    margin-left: 111px;
    width: 1275px;
    justify-content: space-between; 
}
.box div{
	position: absolute;
	z-index: 1;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid rgba(240, 78, 145, 0.8);
}
.box div:nth-child(1){
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(2){
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(3){
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}
.box div:nth-child(4){
	top: 0%;
	left: 60%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(5){
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}
.box div:nth-child(6){
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}
.box div:nth-child(7){
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}
.box div:nth-child(8){
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}
.box div:nth-child(9){
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}
.box div:nth-child(10){
	top: 20%;
	left: 80%;
	animation: animate 12s linear infinite;
}
@keyframes animate{
	0%{
		transform: scale(0) translateY(0) translateX(0) rotate(0);
		opacity: 1;
	}
	50%{
		transform: scale(1.3) translateY(90px) translateX(90px) rotate(360deg);
		opacity: 0;
	}
}
  .contact{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0px;
	  /* margin-top: 120px; */
  }
  .center{
    /* margin: 20px; */
    /* border-top: 2px solid white; */

    height: 150px;
  }
  .center #space{
	  margin-top: 150px;
	  /* margin-bottom: 50px; */
  }
  .center div{
	margin: 20px;
	font-size: larger;
}
  .contact li a{
    color: white;
    font-size: larger;
    padding: 0px;
    margin-bottom: 50px;
  }
  .center #space li{
    border-top: 2px solid white;
  }
  .contact li img{
      width: 50%;
      height: 20%;
      /* size: 10%; */
      /* display: inline-block; */
      padding: 0px;
      /* padding-bottom: 10px; */
      margin-top: 10px;
  }
  #linkedin, #github, #facebook{
    width: 37%;
    padding-bottom: 1px;
  }
  .contact li{
      width: 8%;
  }
  #linkedin{
	width: 25%;
	padding-bottom: 7px;
	margin-top: 20px;
}

