*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 12px;
	font-family: "Roboto Cn", sans-serif;
}
body{
	background: url(//pub-static.haozhaopian.net/static/web/site/aboutus/images/header47c3419….jpg) no-repeat center;    
}

a{
	text-decoration: none;
	color: rgb(56, 5, 29);
}

header{
	width: 100%;
    height: 17vh;
	display: flex;
	background-size: cover;
	position: relative;
    overflow: hidden;
	/* background: transparent; */
}

#pic{
	padding-left: 10px;
}
.container{
	max-width: 150rem;
	/* width: 90%; */
	margin: 0 auto;
	padding-right: 20px;
}

nav{
	/* padding-top: 5rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.8rem;
}

.brand{
	font-size: 3.2rem;
	position: relative;
	z-index: 1000;
	font-weight: 300px;
	transform: translateX(-100rem);
    animation: slideIn .750s forwards;
	color: rgb(146, 13, 69);
    margin-right: 200px;	
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
	margin-right: 20px;
}

nav img{
	transform: translateX(-100rem);
	animation: slideIn .75s forwards;
	width: 8%;
}
nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}


/* nav ul li:nth-child(1){
	animation-delay: 0s;
} */

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav img:nth-child(1){
	animation-delay: .1s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 3px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	/* border: 5px solid black; */
	background-color: rgb(77, 14, 14);
	left: 0;
	transform: scaleX(0);
	transition: all .4s;
}

nav ul li a::before{
	top: 0;
	transform-origin: right;
}

nav ul li a::after{
	bottom: 0;
	transform-origin:left;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

.wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	/* linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(148, 6, 30) 3%,  pink 100% ); */
}

/* h2{
	font-family: serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
} */
.box div{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid rgba(240, 78, 145, 0.8);
}
.box div:nth-child(1){
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(2){
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(3){
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}
.box div:nth-child(4){
	top: 0%;
	left: 60%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(5){
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}
.box div:nth-child(6){
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}
.box div:nth-child(7){
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}
.box div:nth-child(8){
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}
.box div:nth-child(9){
	top: 90%;
	left: 25%;
	animation: animate 9s linear infinite;
}
.box div:nth-child(10){
	top: 20%;
	left: 80%;
	animation: animate 12s linear infinite;
}
@keyframes animate{
	0%{
		transform: scale(0) translateY(0) translateX(0) rotate(0);
		opacity: 1;
	}
	50%{
		transform: scale(1.3) translateY(90px) translateX(90px) rotate(360deg);
		opacity: 0;
	}
}
.center{
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
    padding: 5px;
    /* margin-top: 10px; */
    width: 100%;
    /* sdfkj */
  }
  .contact{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0px;
  }
  .center{
    /* margin: 20px; */
    /* border-top: 2px solid white; */

    height: 150px;
  }
  .center div{
      margin: 20px;
      font-size: larger;
  }
  .contact li a{
    color: white;
    font-size: larger;
    padding: 0px;
    margin-bottom: 50px;
  }
  .center #space li{
    border-top: 2px solid white;
  }
  .contact li img{
      width: 50%;
      height: 20%;
      /* size: 10%; */
      /* display: inline-block; */
      padding: 0px;
      /* padding-bottom: 10px; */
      margin-top: 10px;
  }
  #linkedin, #github, #facebook{
    width: 37%;
    padding-bottom: 1px;
  }
  .contact li{
      width: 8%;
  }