@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  box-sizing: border-box;
  font-family: "Reggae One", cursive;
}
.container {
  background-color: pink;
}
body {
  /* margin-left: 63px; */
  /* width: 80vw;
  margin: auto; */
  background-color: black;
}
html {
  /* width: 100%; */
  font-size: 11px;
}
.aboutme {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 10px;
  margin: 10px auto;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.sahil {
  width: 600px;
  background-color: palegoldenrod;
  float: left;
  /* margin-left: 50px; */
  background: transparent;
}

.center div{
  /* width:100vw; */
}
.atharva {
  width: 600px;
  background-color: palegoldenrod;
  float: right;
  /* margin-right: 100px; */
  background: transparent;
}
.sahil img,
.atharva img {
  padding: 10px;
  border-radius: 50%;
  width: 350px;
  display: block;
  margin: auto;
  height: 350px;
  object-fit: cover;
  position: relative;
  z-index: 150;
}
.sahil p,
.atharva p {
  color: rgb(248, 245, 244);
  /* font-family: cursive; */
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  width: 600px;
  margin: 50px 10px;
}
.aha,
.sahil h1,
.atharva h1 {
  color: #ebe4e4;
  width: 116px;
  /* overflow: hidden; */
  border-right: 1px solid pink;
  white-space: nowrap;
  margin: 50px auto;
  letter-spacing: 0.15em;
  animation: typing 7.5s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-iteration-count: infinite;
}
.aha {
  width: 30%;
  color: aqua;
  border-top: 5px solid aqua;
  border-bottom: 5px solid aqua;
  padding: 10px;
  animation: none;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: 900;
  word-spacing: 15px;
  border-right: none;
  margin: 50px auto;
  text-transform: uppercase;
  text-align: center;
  /* padding-left: 5%; */
}
.team {
  width: 316px;
  margin-left: 650px;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 230px;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: pink;
  }

  50% {
    border-color: rgb(229, 162, 162);
  }
}
@keyframes aboutme {
  0% {
    background-image: url(/images/dark1.jpg);
  }
  50% {
    background-image: url(/images/dark2.jpg);
  }
}
footer {
  /* width: 100%; */
  margin-top: 50px;
  /* position: static; */
  /* position: sticky; */
  position: absolute;
  top: 900px;
  /* bottom: 10px; */
}
/* .up { */
  /* margin-top: 200px; */
  /* width: 530px; */
  /* margin-left: 450px; */
  /* border: 1px solid rgb(255 255 255); */
/* } */

/* @media only screen and (min-width: 950px) and (max-width: 1270px) {
  .instaIcons {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 150%;
  }
} */

@media only screen and (min-width: 576px) and (max-width: 949px) {
  /* .instaIcons {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 150%;
  } */
  
}
@media only screen and (max-width: 580px) {
  .center div{
    width:115vw;
    font-size:16px;
  }
}

@media only screen and (max-width: 579px) {
  .center {
    display:none;
  }
}


@media only screen and (max-width: 1270px) {
  /* .instaIcons {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50%;
  } */
  .sahil {
    margin: 0px 0px;
    float: none;
    margin: auto;
  }
  footer {
    margin-top: 750px;
  }
  #space2 {
    display: none;
  }

  .atharva {
    margin: 0px 0px;
    float: none;
    margin: auto;
  }
  .aha {
    width: 70%;
    font-size: 3.4rem;
    margin: auto;
    margin-top: 85px;
  }
  .sahil img,
  .atharva img {
    padding: 10px;
    border-radius: 50%;
    width: 300px;
    display: block;
    margin: auto;
    height: 300px;
    object-fit: cover;
    position: relative;
    z-index: 150;
  }
  /* .center{
    /* width: 177%; */
  
  /* .copy{
    width: 100%;
    margin: auto;
  } */
    .contact{
    display: none;
     /* display: flex;  */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
   }
   .copy{
     display: none;
   }
  /* #instagram{ */
    /* margin: auto 10px;
    width: 80px;
    height:70px; */
    /* display: none; */
  /* } */

  /* #linkedin,
  #facebook {
    margin: auto 50px;
    width: 40px;
    height: 40px;
  }

  #github {
    margin: auto 50px;
    width: 60px;
    height: 60px;
  } 
  #facebook {
    margin-left:70px;
  } */
}


@media only screen and (max-width: 575px) {
  .instaIcons {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 150%;
  }
  #space2 {
    display: none;
  }

  footer {
    margin-top: 550px;
  }
  .aha {
    width: 397px;
    padding: 10px 10px;
    /* margin: 10px auto; */
    margin-top: 85px;
    margin-left: 127px;
  }
  .sahil {
    margin: 0px 0px;
    float: none;
    margin: auto;
    margin-left: 52px;
    /* width: 50%; */
  }
  .atharva {
    margin: 0px 0px;
    float: none;
    margin: auto;
    margin-left: 52px;
    /* width: 50%; */
  }
  p {
    width: 400px;
  }
  .sahil img,
  .atharva img {
    padding: 10px;
    border-radius: 50%;
    width: 240px;
    display: block;
    margin: 15px auto;
    height: 240px;
    object-fit: cover;
    position: relative;
    z-index: 150;
  }
}

@media only screen and (max-width: 565px) {

  .sahil .name,
  .atharva .name {
    margin: auto;
    /* padding-left: 0px; */
    margin-right: 70px;
  }
}
@media only screen and (max-width: 600px){
.topnav .icon-bar{
    /* height: 60px; */
    /* margin-top: 1px; */
    padding-top: 15px;
    margin-right: -20px;
}
.topnav{
  height: 60px;
}
.responsive{
  height: auto;
}
}
@media only screen and (max-width: 600px){
  #pic {
    padding-left: 30px;
    margin-left: -10px;
    margin-bottom: 3px;
}
.topnav a{
  font-size: 17px;
}
.topnav .icon-bar{
  height: 60px;
  margin-top: -57px;
  padding-top: 6px;
  margin-right: -20px;
}
}